!!!
%html
  %head
    %meta{ 'http-equiv' => 'content-type', content: 'text/html; charset=utf-8' }
    %title
      = "#{@page_title} - " if @page_title
      Starkast Wiki
    %link{ href: '/favicon.ico', rel: 'shortcut icon', type: 'image/ico' }
    %link{ href: '/stylesheets/default.css', rel: 'stylesheet', type: 'text/css' }
  %body
    #container
      #header
        #login
          != haml :'../layouts/_login', layout: false
        #administration
          != haml :'../layouts/_administration', layout: false
      #logo
        != haml :'../layouts/_logo', layout: false
      #navigation
        != haml :'../layouts/_navigation', layout: false
      #sub-navigation
        #actions
          -if @page
            != haml :'../page/_actions', locals: { page: @page }, layout: false
        #status
      != haml :'../layouts/_flash', layout: false
      #content
        !=yield
    #footer
      != haml :'../layouts/_footer', layout: false
