!!!
%html
  %head
    %meta{ 'http-equiv' => 'content-type', content: 'text/html; charset=utf-8' }
    %meta{ name: 'referrer', content: 'same-origin' }
    %title
      = "#{@page_title} - " if @page_title
      Starkast Wiki
    %link{ href: '/favicon.ico', rel: 'shortcut icon', type: 'image/ico' }
    %link{ href: '/stylesheets/default.css', rel: 'stylesheet', type: 'text/css' }
    %script{ src: '/javascripts/mousetrap.min.js' }
    %script{ src: '/javascripts/mousetrap-global-bind.min.js' }
  %body
    #container
      #header
        #login
          != haml :'../layouts/_login', layout: false
        #administration
          != haml :'../layouts/_administration', layout: false
      #logo
        != haml :'../layouts/_logo', layout: false
      #navigation
        != haml :'../layouts/_navigation', layout: false
      #sub-navigation
        #actions
          -if @page
            != haml :'../page/_actions', locals: { page: @page }, layout: false
        #status
      != haml :'../layouts/_flash', layout: false
      #content
        !=yield
    #footer
      != haml :'../layouts/_footer', layout: false

    :javascript
      Mousetrap.bind(['/', 's'], function() {
        var searchInput = document.getElementById('q');
        searchInput.focus();
        searchInput.select();
        return false;
      });

      Mousetrap.bind('h', function() {
        window.location = "/";
        return false;
      });

      Mousetrap.bind('i', function() {
        window.location = "/list";
        return false;
      });

      Mousetrap.bind('l', function() {
        window.location = "/latest";
        return false;
      });

      Mousetrap.bind('n', function() {
        window.location = "/new";
        return false;
      });

      Mousetrap.bindGlobal('escape', function() {
        var searchInput = document.getElementById('q');
        if (document.activeElement == searchInput) {
          searchInput.blur();
        }
        return false;
      });
