!!!
%html
  %head
    %meta{ 'http-equiv' => 'content-type', content: 'text/html; charset=utf-8' }
    %title
      = "#{@page_title} - " if @page_title
      Starkast Wiki
    %link{ href: '/favicon.ico', rel: 'shortcut icon', type: 'image/ico' }
    %link{ href: '/stylesheets/default.css', rel: 'stylesheet', type: 'text/css' }
    %script{ src: '/javascripts/mousetrap.min.js' }
    %script{ src: '/javascripts/mousetrap-global-bind.min.js' }
  %body
    #container
      #header
        #login
          != haml :'../layouts/_login', layout: false
        #administration
          != haml :'../layouts/_administration', layout: false
      #logo
        != haml :'../layouts/_logo', layout: false
      #navigation
        != haml :'../layouts/_navigation', layout: false
      #sub-navigation
        #actions
          -if @page
            != haml :'../page/_actions', locals: { page: @page }, layout: false
        #status
      != haml :'../layouts/_flash', layout: false
      #content
        !=yield
    #footer
      != haml :'../layouts/_footer', layout: false

:javascript
  Mousetrap.bind('/', function() {
    var searchInput = document.getElementById('q');
    searchInput.focus();
    searchInput.select();
    return false;
  });

  Mousetrap.bindGlobal('escape', function() {
    var searchInput = document.getElementById('q');
    if (document.activeElement == searchInput) {
      searchInput.blur();
    }
    return false;
  });

- unless settings.development?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-7734426-12', 'starkast.net');
    ga('send', 'pageview');
