- unless @page.new?
  %ul
    - if logged_in?
      %li
        %a{ href: "/#{@page.slug}/edit", id: "edit_page" } Ändra
        - if starkast?
          %form{ action: "/#{@page.slug}/conceal", method: :post }
            %button
              = @page.concealed ? 'Gör publik' : 'Gör privat'

      - unless @page.revisions.empty?
        %span
          (
          - unless @page.revision == 1
            %a{ href: "/#{@page.slug}/#{@page.revision - 1}"} -
          = @page.revision.to_s.rjust(2, "0")
          - unless @page.revision == (@page.revisions.count + 1)
            %a{ href: "/#{@page.slug}/#{@page.revision + 1}"} +
          )
    %li
      Senast ändrad
      = @page.updated_on
      av
      = @page.author
