- # from https://css-tricks.com/snippets/css/a-guide-to-flexbox/
:css
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .flex-item {
    width: 45%;
  }

.flex-container
  .flex-item
    %h1.title
      Ändrar
      %a{ href: "/#{@page.slug}" }= @page.title
    %form{ name: :create, action: "/#{@page.slug}", method: :post }
      %label.block{ for: 'title' } Titel
      %input#title{ type: :text, name: 'title', maxlength: 74, size: 50, value: @page.title }

      %label.block{ for: 'content' } Innehåll
      %textarea#content{ name: 'content', cols: 78, rows: 20, "hx-post": "/#{@page.slug}/preview", "hx-target": "#preview", "hx-trigger": "keyup changed delay:500ms" }= @page.content

      %label.block{ for: 'comment' } Kommentar
      %input#comment{ type: :text, name: 'comment', maxlength: 74, size: 50 }

      %p{ style: "margin-top: 1em;" }
        %button Spara
        eller
        %a{ href: "/#{@page.slug}" } Avbryt

      %hr

      %label.block{ for: 'description' } Sidbeskrivning
      %textarea#description{ name: 'description', cols: 50, rows: 3 }= @page.description
  .flex-item
    #preview
      != haml :preview, layout: false
