%h1 Senast ändrad
- @page_groups.each do |date, pages|
  %h2= date
  %ul
    - pages.each do |page|
      %li
        %a{ href: "#{page.fetch(:slug)}" }= page.fetch(:title)
        = "(#{page.fetch(:revision)})"
        %span.latest_item_information
          = "av #{page.fetch(:login)}"

        - unless page.fetch(:comment).to_s.empty?
          %span.latest_item_information
            med kommentaren
            = %Q("#{page.fetch(:comment)}")
